<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/static/tachyons.css">

        <title>
            {% block tabtitle %}Clexicon{% endblock %}
        </title>

        {% if show_IPA %}<link rel='stylesheet' type='text/css' href='/static/ipa_chart.css' />{% endif %}

        {% block head %}{% endblock %}
    </head>
    <body class="helvetica bg-near-white near-black">

        <!-- Left -->
        <div class="fl w-third db-ns dn pa4">
        {% if show_IPA %}{% include "ipa_chart_top.twig" %}{% endif %}
        </div>
        
        <!-- Main Content -->
        <div class="fl w-100 w-third-ns pa2">
            <h1 class="f1 f-headline-ns bb b--black-10 lh-title">{% block title %}{% endblock %}</h1>
            {% include "notice.twig" %}
            {% block body %}{% endblock %}
        </div>
        
        <!-- Right -->
        <div class="fl w-third db-ns dn pa4">
        {% if show_IPA %}{% include "ipa_chart_bottom.twig" %}{% endif %}
        </div>

        {% block scripts %}{% endblock %}

    </body>
</html>