{% extends "base.twig" %}

{% block head %}{% endblock %}

{% block title %}Lexicon{% endblock %}

{% block body %}

<h2 class="f2 light-red">Description</h2>
<p>
    This is the collection of conlang-dictionaries
    for my worldbuilding project.
</p>

<h2 class="f2 light-red">Available Languages</h2>
{% if languages|length > 0 %}

    <ul class="list">
    {% for lang in languages %}
        <li>
            <a href="/lang/{{lang.ID}}" class="f4 link blue hover-light-blue">{{lang.Name}}</a>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <i>No languages found</i>
{% endif %}

{% endblock %}

{% block scripts %}{% endblock %}